# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1

# S3
S3_BRONZE_BUCKET=airbnb-bronze-your-name
S3_SILVER_BUCKET=airbnb-silver-your-name
S3_GOLD_BUCKET=airbnb-gold-your-name

# Snowflake
SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=AIRBNB_DW
SNOWFLAKE_WAREHOUSE=AIRBNB_WH
SNOWFLAKE_ROLE=AIRBNB_ROLE

# Slack
SLACK_WEBHOOK_URL=your_slack_webhook_url

# Airflow
AIRFLOW_UID=50000