# Environment
.env
*.env

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# dbt
dbt/profiles.yml
dbt/target/
dbt/dbt_packages/

# Python
__pycache__/
*.pyc
.pytest_cache/
dist/
*.egg-info/

# Logs
logs/
*.log